//
// W3C Web Accessibility Initiative (WAI) Module
//
// @package     Page Ruler Redux
// @subpackage  Base
// @author      Esteban Rocha
// @link        https://github.com/Esteban-Rocha
//
// @since       1.0.0
//

// Text meant only for screen readers. //
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
	// Many screen reader and browser combinations announce broken words
	// as they would appear visually.

	&:focus {
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto;
		clip-path: none;
		color: #000;
		display: block;
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
	}
}

// Do not show the outline on the skip link target. //
#content {
	&[tabindex="-1"] {
		&:focus {
			outline: 0;
		}
	}
}
