####
## Prettier: Ignore files
##
## @author      Esteban Rocha
## @link        https://github.com/Esteban-Rocha
## @since       1.0.0
####

# Global ignore
**/*.min.*
**/*.min.js
**/node_modules/**
**/vendor/**
