//
// Base Custom Component
//
// @package     Page Ruler Redux
// @subpackage  Base
// @author      Esteban Rocha
// @link        https://github.com/Esteban-Rocha
//
// @since       1.0.0
//

// Anchors
a {
	text: {
		decoration: none;
	}
}

// W3C Headings Recommendation Standard
h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.17rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.83rem;
}

h6 {
	font-size: 0.67rem;
}
