//
// Color Map Module
//
// @package     Page Ruler Redux
// @subpackage  Mixins
// @author      Esteban Rocha
// @link        https://github.com/Esteban-Rocha
// @since       1.0.0
//

//
// Bi-Dimensional Color Map
//
// @used-by    color($colors, $scheme);
// @return     map-get(map-get($colors, $scheme), $tone);
//
$colors: (
	black: (
		base: #000
	),
	white: (
		base: #fff
	),
	gray: (
		base: #535353
	),
	orange: (
		base: #ed9745
	),
	blue: (
		base: #223351
	)
);
