* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #222222;
}
.control-group {
  margin-bottom: 20px;
}
h1 {
  font-size: 24px;
  width: 300px;
  float: left;
  text-align: right;
  margin-bottom: 40px;
}
form {
  clear: both;
}
label {
  width: 300px;
  float: left;
  text-align: right;
  padding-right: 10px;
}
.help {
  color: #777777;
  font-size: 12px;
  display: block;
  margin-left: 310px;
  padding: 5px 3px;
}
